.btn-new-game {
  border-radius: 5px;
  background: darkred;
  font-weight: bolder;
}

.x {
  color: #e80404;
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 63pt;
}

.o {
  color: #037113;
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 63pt;
}
